             {% extends "dashbord/dashbord.html" %}
             {% block title %}Manager dashbord{% endblock title %}
             <!-- task table  -->
             {% block tasks %}

             <div class="bg-white mb-8 rounded-xl shadow-md divide-y divide-gray-200">
                <div class="grid grid-cols-4 p-4 border-b  border-gray-100 text-md text-gray-700">
                
                    <div>TASK TITLE</div>
                    <div>PRIORITY</div>
                    <div>TEAM</div>
                    <div>CREATED ADD</div>
                </div>


                 <!-- task item -->
                <div>
                    {% for task in tasks %}
                        <div class="divide-y divide-gray-100">
                            <div class="grid grid-cols-4 p-4 gap-4 items-center">
                                <div class="flex items-center gap-2">
                                    <div class="w-2 h-2 m-6 bg-green-700 rounded-full "></div>
                                    <div>
                                       <span>
                                        {{task.title}}

                                       </span>
                                       <a href="{% url "update_task" task.id%}"><button class="px-3 py-1 mr-5 rounded-lg bg-slate-100">edit</button></a>
                                      
                                    </div>
                                </div>
                                <div>
                                    <span class=" px-5 py-2 bg-blue-50 text-blue-600 rounded-full text-sm">
                                        {{task.details.get_priority_display}}
                                    </span>
                                </div>
                                <div>
                                    <div class="flex -space-x-2">
                                        {% for emp in task.assigned_to.all %}
                                        <div class="w-8 h-8 bg-blue-500 rounded-full text-white flex items-center justify-center border-2 border-white">
                                            {% comment %} namer 2ta bah 3 ta eord dawer jonno {% endcomment %}
                                            {{emp.name|slice:':2'}}
                                        </div>
                                        {% endfor %}

  
                                        

                                    </div>
                                </div>
                                <div>
                                    <span class="text-gray-500">{{task.created_at|timesince}}</span>

                                    {% comment %} delete task {% endcomment %}
                                    <form action="{% url 'delete_task' task.id %}" method="POST">
                                        {% csrf_token %}
                                    <button class="px-2 py-1 bg-slate-100 rounded-lg m-3">Delete</button>   
                                    </form>

                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>


                 <!-- task item -->
                {% comment %} <div>
                        <div class="divide-y divide-gray-100">
                            <div class="grid grid-cols-4 p-4 gap-4 items-center">
                                <div class="flex items-center gap-2">
                                    <div class="w-2 h-2 bg-yellow-700 rounded-full "></div>
                                    <div>
                                       <span>
                                        Test Task
                                       </span>
                                    </div>
                                </div>
                                <div>
                                    <span class=" px-3 py-1 bg-gray-50 text-gray-600 rounded-full text-sm">
                                        Normal
                                    </span>
                                </div>
                                <div>
                                    <div class="flex -space-x-2">
                                        <div class="w-8 h-8 bg-blue-500 rounded-full text-white flex items-center justify-center border-2 border-white">
                                            AJ
                                        </div>
                                         <div class="w-8 h-8 bg-blue-500 rounded-full text-white flex items-center justify-center border-2 border-white">
                                            EV
                                        </div>
                                         <div class="w-8 h-8 bg-blue-500 rounded-full text-white flex items-center justify-center border-2 border-white">
                                            B
                                        </div>
                                        

                                    </div>
                                </div>
                                <div>
                                    <span class="text-gray-500">9 month ago</span>
                                </div>
                            </div>
                        </div>
                </div>
                 <!-- task item -->
                <div>
                        <div class="divide-y divide-gray-100">
                            <div class="grid grid-cols-4 p-4 gap-4 items-center">
                                <div class="flex items-center gap-2">
                                    <div class="w-2 h-2 bg-red-700 rounded-full "></div>
                                    <div>
                                       <span>
                                        Test Task
                                       </span>
                                    </div>
                                </div>
                                <div>
                                    <span class=" px-3 py-1 bg-red-50 text-red-600 rounded-full text-sm">
                                        Low
                                    </span>
                                </div>
                                <div>
                                    <div class="flex -space-x-2">
                                        <div class="w-8 h-8 bg-blue-500 rounded-full text-white flex items-center justify-center border-2 border-white">
                                            CA
                                        </div>
                                         <div class="w-8 h-8 bg-blue-500 rounded-full text-white flex items-center justify-center border-2 border-white">
                                            JS
                                        </div>
                                         <div class="w-8 h-8 bg-blue-500 rounded-full text-white flex items-center justify-center border-2 border-white">
                                            B
                                        </div>
                                        

                                    </div>
                                </div>
                                <div>
                                    <span class="text-gray-500">9 month ago</span>
                                </div>
                            </div>
                        </div>
                </div>
                 <!-- task item -->
                <div>
                        <div class="divide-y divide-gray-100">
                            <div class="grid grid-cols-4 p-4 gap-4 items-center">
                                <div class="flex items-center gap-2">
                                    <div class="w-2 h-2 bg-green-700 rounded-full "></div>
                                    <div>
                                       <span>
                                        Test Low Task
                                       </span>
                                    </div>
                                </div>
                                <div>
                                    <span class=" px-3 py-1 bg-blue-50 text-blue-600 rounded-full text-sm">
                                        Low
                                    </span>
                                </div>
                                <div>
                                    <div class="flex -space-x-2">
                                        <div class="w-8 h-8 bg-blue-500 rounded-full text-white flex items-center justify-center border-2 border-white">
                                            CA
                                        </div>
                                         <div class="w-8 h-8 bg-blue-500 rounded-full text-white flex items-center justify-center border-2 border-white">
                                            JS
                                        </div>
                                         <div class="w-8 h-8 bg-blue-500 rounded-full text-white flex items-center justify-center border-2 border-white">
                                            B
                                        </div>
                                        

                                    </div>
                                </div>
                                <div>
                                    <span class="text-gray-500">9 month ago</span>
                                </div>
                            </div>
                        </div>
                </div> {% endcomment %}
             </div>
             {% endblock tasks %}
